
thead > td {
  font-weight: bold;

}


table {
  height: 200px;
  font-size: 9px;
  /* font-weight: bold; */
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin: auto;
}

.tableheader {
  font-size: 12px;
  font-weight: bold;
}

.yellow {
  background-color: Yellow;
  color: black;
}

.green {
  background-color: Green;

}

.red {
  background-color: Red;

}
