
thead > td {
  font-weight: bold;

}

.clock {
  height: 120px;
  padding-left: 250px;
}

#clock {
  font-size: 60px;
  color: white;

}

table {
  height: 200px;
  font-size: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin: auto;
}

.tableheader {
  font-size: 11px;
  font-weight: bold;
}

.yellow {
  background-color: Yellow;
  color: black;
}

.green {
  background-color: Green;

}

.red {
  background-color: Red;

}
