thead > td {
  font-weight: bold;

}

td {
  height: 10px;
}

table {
  height: 50%;
  font-size: 10px;
  width: 100%;
}

.tableheader {
  font-size: 14px;
  font-weight: bold;
}

.yellow {
  background-color: Yellow;
}

.green {
  background-color: Green;
}

.red {
  background-color: Red;

}
