{% extends "base.html" %}
{% load static %}

{% block content %}
<div class = "row">
  <table class = "table table-bordered table-striped table-hover table-sm table-dark">
    <thead>
      <tr class = "tableheader">
        {% for row in pilotvalues.0 %}
          <td>{{ row }}</td>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in pilotvalues %}
        {% if forloop.counter != 1 %}
            <tr>
            {% for data in row %}
              {% if forloop.counter == 5 %}
                <td class = "pilotdatetd">{{ data }}</td>
              {% elif forloop.counter == 7 %}
                <td class = "gracepilotdatetd">{{ data }}</td>
              {% elif forloop.counter == 8 %}
                <td class = "gracepilotdatetd">{{ data }}</td>
              {% elif forloop.counter == 9 %}
                <td class = "gracepilotdatetd">{{ data }}</td>
              {% elif forloop.counter == 15 %}
                <td class = "gracepilotdatetd">{{ data }}</td>
              {% else %}
                <td>{{ data }}</td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
<div class = "row clock mb-0 pt-0">
  <div class="ml-0" >
    <span id="trackerlabel">Flight Tracker:</span>&nbsp&nbsp&nbsp
    <select id='flightfollower' name="flightfollowers">
      <option value="Kyle Green">Kyle Green</option>
      <option value="William Foote">William Foote</option>
      <option value="Cindy Fritz">Cindy Fritz</option>
      <option value="Spence Patrick">Spence Patrick</option>
      <option value="Spence Patrick">Jamie Boesiger</option>
      <option value="Spence Patrick">Trevor Davidson</option>
    </select>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  </div>&nbsp&nbsp&nbsp&nbsp&nbsp
  <div  id = "clock"></div>
</div>

<div class = "row fixed-bottom pb-0">
  <table class = "table table-bordered table-striped table-hover table-sm table-dark p-0">
    <thead>
      <tr class = "tableheader">
        {% for data in values.0 %}
          {% if forloop.counter != 1 %}
            {% if forloop.counter != 3 %}
              <td>{{ data }}</td>
            {% endif %}
          {% endif %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in values %}
        {% if row.1 == 'N114BH' or row.1 == 'N6993N' or row.1 == 'N732DW'%}
        <!-- These are my phase planes  -->
          <tr>
            {% for data in row %}
              {% if forloop.counter == 1 %}
                {% if data == "Green" %}
                  <td class = "green">
                {% elif data == "Yellow" %}
                  <td class = "yellow">
                {% else %}
                  <td class = "red">
                {% endif %}
              {% else %}
                {% if forloop.counter != 3 %}
                  {% if forloop.counter == 2 %}
                  <!-- This is aircraft name -->
                    {{ data }}</td>

                  {% elif forloop.counter == 14 %}
                    <td>
                      {{ data}}<br>
                      {% if row.1 == 'N114BH' %}
                        {{ values.6.13 }}
                      {% elif row.1 == 'N6993N' %}
                        {{ values.10.13 }}
                      {% elif row.1 == 'N732DW' %}
                        {{ values.8.13 }}
                      {% endif %}
                    </td>
                  {% else %}
                  <!--  This is everything else -->
                    <td><span class = "align-middle">{{ data }}</span></td>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
          </tr>
        {% elif row.1 != '4BH' and row.1 != '2DW' and row.1 != '93N' and row.1 != ''%}
        <!-- These are my NOT phase planes -->
          {% if forloop.counter != 1 %}
            <tr>
            {% for data in row %}
              {% if forloop.counter == 1 %}
                {% if data == "Green" %}
                  <td class = "green">
                {% elif data == "Yellow" %}
                  <td class = "yellow">
                {% else %}
                  <td class = "red">
                {% endif %}
              {% else %}
                {% if forloop.counter != 3 %}
                  {% if forloop.counter == 2 %}
                  <!-- This is aircraft name -->
                    {{ data }}</td>

                  {% else %}
                  <!--  This is everything else -->
                    {% if forloop.counter == 6 or forloop.counter == 7 or forloop.counter == 10 %}
                      <td class = "datealert" data-id = "{{row.1}}">{{ data }}</td>
                    {% elif forloop.counter == 8 or forloop.counter == 9 %}
                      <td class = "tachalert" data-id = "{{row.1}}">{{ data }}</td>
                    {% elif forloop.counter == 4 %}
                      <td class = "tachtime" id = "tachtime{{row.1}}">{{ data }}</td>
                    {% elif forloop.counter == 5 %}
                      <td class = "lastflightdate" id = "lastflight{{row.1}}">{{ data }}</td>
                    {% else %}
                      <td>{{data}}</td>
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
            </tr>
          {% endif %}
        {% endif %}
    {% endfor %}
    </tbody>
  </table>
</div>
<!-- <div class = "row fixed-bottom pb-0 pt-0 mx-auto" style="width: 35%; height: 17px">
  <table class = "table table-dark p-0 m-0 table-sm">
    <tbody>
      <tr>
        <td style = "background-color: yellow"></td>
        <td> Maintenance due within 1 month or 10 hours</td>
        <td style = "background-color: red"></td>
        <td>Maintenance overdue</td>
        <td style = "background-color: green"></td>
        <td>Airplane is in service</td>
      </tr>
    </tbody>
  </table>
</div> -->
{{ e }}
{% endblock %}
