{% extends "base.html" %}
{% load static %}

{% block content %}

<table class = "table table-bordered table-striped table-hover table-sm table-dark h-50 m-0">
  <thead>
    <tr class = "tableheader">
      {% for row in pilotvalues.0 %}
        <td>{{ row }}</td>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in pilotvalues %}
      {% if forloop.counter != 1 %}
          <tr>
          {% for data in row %}
            {% if forloop.counter == 5 %}
              <td class = "pilotdatetd">{{ data }}</td>
            {% elif forloop.counter == 7 %}
              <td class = "gracepilotdatetd">{{ data }}</td>
            {% elif forloop.counter == 8 %}
              <td class = "gracepilotdatetd">{{ data }}</td>
            {% elif forloop.counter == 9 %}
              <td class = "gracepilotdatetd">{{ data }}</td>
            {% elif forloop.counter == 15 %}
              <td class = "gracepilotdatetd">{{ data }}</td>
            {% else %}
              <td>{{ data }}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
<div class = "jumbotron clock m-0 pt-2">
  <div class = "mr-25" id = "clock"></div>
</div>
<table class = "table table-bordered table-striped table-hover table-sm table-dark m-0">
  <thead>
    <tr class = "tableheader">
      {% for data in values.0 %}
        {% if forloop.counter != 1 %}
          {% if forloop.counter != 3 %}
            <td>{{ data }}</td>
          {% endif %}
        {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in values %}
      {% if forloop.counter != 1 %}
        <tr>
          {% for data in row %}
            {% if forloop.counter == 1 %}
              {% if data == "Green" %}
                <td class = "green">
              {% elif data == "Yellow" %}
                <td class = "yellow">
              {% else %}
                <td class = "red">
              {% endif %}
            {% else %}
              {% if forloop.counter != 3 %}
                {% if forloop.counter == 2 %}
                  {{ data }}</td>
                {% else %}
                  <td>{{ data }}</td>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
<!-- <br> -->

{% endblock %}
